.cardGrid {
    padding: 20px 0,

}
.card{
    height: 100%;
    display: flex; 
    flex-direction: column; 
}
.cardMedia{
    padding-top: 85%; 
    
}

.cardContent{
    flex-grow: 1; 
}
.followers{
    display: flex; 
    flex-flow: column wrap; 
}
.follower-container{
    width: 50%; 
    margin: 1rem;  
}
.footer{
    background-color: whitesmoke;
}